.hashbox {
    width:500px;
    padding:25px 35px;
    position:absolute;
    top:60%;
    left:50%;
    transform: translate(-50%,-50%);
    background:#ffffff;
    border-radius:10px;
    border:1px solid rgba(0, 0, 0, 0.533);
    transition: height 0.2s ease;
 }
 
.hashbox p{
    font-weight:bolder;
    font-size: 20px;
    margin-bottom:8px;
    color: rgb(0, 170, 255);
    text-align: center;
}
 
.hashbox .qr{
   margin-left: 85px;
   margin-top: 30px;
   margin-bottom:80px;
} 
 .hashbox input{
    width: 100%;
    height:50px;
    border: 1px solid #494eea;
    outline: 0;
    padding:10px;
    margin: 10px 0 20px;
    border-radius: 5px;
 }
 input{
   background-color:#000000;
   color:white;
 }
 .hashbox button{
    width:100%;
    height:50px;
    background:#75d9f7;
    color: #000000;
    border: 0;
    outline: 0;
    border-radius:5px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    cursor: pointer;
    margin:20px 0;
    font-weight: 500;
 }

 @media screen and (max-width:850px) {
   .hashbox {
      width: 400px;
      margin-top: 40px;
   }
    
   .hashbox .qr{
      margin-left: 40px;
   }

   .hashbox p{
      font-size:17px;
     
   }
 }
 